body{
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.parent{
    width: 70%;
   }
.box-shadow{
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}


 h1{
    color: #17a2b8;
}
.form-control {
    background-color: transparent ;
    box-shadow: none;
}
input::placeholder {
    color: white !important;
  }
  .form-control:focus{
    background-color: #24353f;
  }
  input:focus {
    box-shadow: none  !important;
    outline: none !important;
  }
a:hover{
    text-decoration: underline !important;
}